body {
    margin: 50px;
    width: 350px;
}

h1 {
    font-size: 15px;
    text-align: left;
}

p {
    font-size: 25px;
    text-align: center;
    margin-bottom: -2px;
    font-family: Cadena;
}

.setting {
    position: absolute;
    right: 5px;
    bottom: 2px;
    width: 15px;
    height: 15px;
}

#report, #update {
    background: #ffffff;
    font-family: Arial;
    color: #000000;
    font-size: 17px;
    padding: 18px;
    text-decoration: none;
    border-radius: 18px;
}
button#update {
    position: absolute;
    bottom: 143px;
    right: 50px;
}
@font-face {
    font-family: Cadena;
    src: url(../assets/cadena.otf);
}